*
{
  margin: 0;
  padding: 0;
}
.app
{
  padding-top: 20px;
  width:40vw;
  height:50vh;
  background-size: cover;
  display: block;

}

.Heading
{
  text-align: center;
  display: block;
}

.pieContainer
{
  /* display: flex; */
  /* justify-content: space-evenly; */
 /* background-color: black; */
  /* margin: 1vw 10vw 0px 10vw; */
  width:100%;
  font-size: 1.3vw;
  /* border: 2px solid yellow; */
  border-radius: 2px;
  margin-top: 40px;
}

.leg{
    margin-left: 10px;
}